<h2><%= link_to @project.title, @project %> <span class="subtitle"><%= @project.location %> - <%= @project.project_date %></span></h2>

<%= raw RedCloth.new(@project.body+"\n\n"+@project.extended).to_html %>

<% if current_user %><p class="details"><%= link_to 'Edit', edit_project_path(@project) %> - <%= link_to 'Destroy', @project, data: { confirm: 'Are you sure?' }, method: :delete %> - <%= link_to 'Back', projects_path %></p><% end %>
