<h1>Gallery</h1>

<% @albums.each do |album| %>

<h2><%= album.title %> <span class="subtitle"><%= album.date %></span></h2>
<% album.photos.first(4).each do |photo| %>
<%= link_to image_tag(photo.photo.url(:thumb), :class => "g"), photo_path(photo) %>
<% end %>
<% if current_user %><p class="details"><%= link_to 'Edit', edit_album_path(album) %> | <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></p><% end %>
<p class="details"><%= link_to "View all", album %></p>
<% end %>

<% if current_user %><p class="details"><%= link_to 'New album', new_album_path %></p><% end %>