<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @show.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @show.body %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @show.expiry_date %>
</p>

<p>
  <strong>Extended:</strong>
  <%= @show.extended %>
</p>

<p>
  <strong>Author date:</strong>
  <%= @show.author_date %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
