<h2><%= link_to @show.title, @show %> <span class="subtitle"><%= @show.author %> - <%= @show.author_date%></span></h2>

<%= raw RedCloth.new(@show.body+"\n\n"+@show.extended).to_html %>

<% if current_user %><p class="details"><%= link_to 'Edit', edit_show_path(@show) %> | <%= link_to 'Back', shows_path %></p><% end %>