<!DOCTYPE html>
<html>
  <head>
    <title>Perfect Circle Theatre</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="outer-container">
      <header>
        <div class="logo">
          <%= image_tag "logo.gif" %>
        </div>

        <nav>
          <ul class="nav">
            <li>
              <%= link_to "The Company", named_path("thecompany") %>
            </li>
            <li>
              <%= link_to "News", news_index_path %>
            </li>
            <li>
              <%= link_to "Productions", shows_path %>
            </li>
            <li>
              <%= link_to "Projects & Workshops", projects_path %>
            </li>
            <li>
              <%= link_to "Gallery", albums_path %>
            </li>
            <li>
              <%= link_to "Contact Us", named_path("contactus") %>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

      </main>

      <footer>
        <p class="copy">
        Site Design © <a href="http://johanspun.com/">John Bannister</a> 2007<br />
        Logo by Duncan Tyzzer, <a href="http://zzcreative.com/">ZZCreative.com</a><br />
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
        </p>
      </footer>
    </div>
  </body>
</html>
